* {
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
.container {
    width: 95%;
    margin: 0 auto;
}
.container:after {
    content: '';
    display: block;
    clear: both;
}
.active {
    background-color: white;
    color: black;
}
.banner{
    margin-top: 25px;
    height: 80vh;
    /* background-image: url('../image/beranda.gif'); */
    background: rgb(2,192,169);
    background: linear-gradient(130deg, rgba(2,192,169,1) 10%, rgba(33,137,166,1) 100%); 
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(49, 50, 87, 0.6);
}
.banner h1 {
    color: white;
    padding: 20px 25px;
    border: 5px solid #fff;
    z-index: 1;
    -webkit-transition: 0.9s ease;
    transition: 0.9s ease;
}
.banner h1:hover {
    background-color: rgba(49, 50, 87, 0.6);
    color: black;
    border: 1px solid black;
}
header {
     background-color: #15162B ;
     size: 5px;
     color: white;
}
header h1 {
    float: left;
    padding: 15px 25px;
    letter-spacing: 3px;
}
header ul {
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover {
    background-color: white;
    color: black;
}
section {
    padding: 50px 0;
}
.banner2 {
    margin-top: 25px;
    height: 80vh;
    background-image: url('../image/beranda.gif');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
footer {
    background-color: #15162B ;
    size: 10px;
    color: white;
    margin-top: 25px;
}
.sosmed {
    margin: 20px auto;
    padding: 5px 0;
    margin: 0 auto;
    align-items: center;
}
.sosmed ul li {
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}
.icon {
    text-align: center;
    padding: 10px;
}
.box {
    /* border: 1px solid; */
    color: #fff;
}
.box:after {
    content: '';
    display: block;
}
.box .col-4 {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    /* border: 1px solid; */
    text-align: center;
    float: left;
    -webkit-transition: 0.9s ease;
    transition: 1.5s ease;
}
.box .col-3 {
    width: 33%;
    padding: 50px;
    box-sizing: border-box;
    /* border: 1px solid; */
    text-align: center;
    float: left;
    -webkit-transition: 0.9s ease;
    transition: 1.5s ease;
}
